/*
 * Version: 2.1.1
 * File Description: Place here your custom CSS styles
 */


.text-block-8 {
  color: #3dcfbf;
}

.success-message-4 {
  border-radius: 55px;
  background-color: #f4fffa;
}

.text-block-9 {
  color: #fc3650;
}

.error-message-4 {
  background-color: transparent;
}

.w-form-done {
  display: none;
  padding: 20px;
  text-align: center;
  background-color: #dddddd;
}
.w-form-fail {
  display: none;
  margin-top: 10px;
  padding: 10px;
  background-color: #ffdede;
}

.nt-logo {
  height: 55px !important;
}
